<div class="page-header">
  <h1>Create a new machine</h1>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <form method="post" class="form-horizontal" action="/save" enctype="multipart/form-data">
      <input type="hidden" name="_method" value="put">

      <div class="form-group">
        <label for="machinename" class="col-sm-2 control-label">Machine name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="machinename">
        </div>
      </div>

      <div class="form-group">
        <label for="ip" class="col-sm-2 control-label">IP address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="ip" placeholder="10.0.0.1&hellip;">
        </div>
      </div>

      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="description">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 text-right">
          <strong>Image</strong>
        </div>
        <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="Bit" id="mc" value="<%= @bit32_machine.vm_name %>" checked>
              Standard 32 bit machine
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="Bit" id="vi" value="<%= @bit64_machine.vm_name %>">
              Standard 64 bit machine
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="Bit" id="optionsRadios3" value="Other Machine">
              <input type="text" class="form-control" name="free_machine" id="fm" class="free_machine" placeholder="Enter Machine"><br><br>
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 text-right">
          <strong>Software</strong>
        </div>
        <div class="col-sm-10">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Command</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @software_selection.each do |software| %>
              <tr>
                <td>
                  <input id="progVote-<%= software.name %>" type="checkbox" name="progVote[]" value="<%= software.name %>"required/>
                </td>
                <td>
                  <label for="progVote-<%= software.name %>">
                    <%= software.name %>
                  </label>
                </td>
                <td><p class="meta">Command: <code><%= software.command %></code></td>
                <td></td>
              </tr>
              <% end %>
          </table>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-2 text-right">
          <strong>Files</strong><br />
        </div>

        <div class="col-sm-10" id="file-selector">
        </div>

        <div class="col-sm-offset-2 col-sm-10">
          <a class="btn btn-default" id="file-add-button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            add file
          </a>
        </div>
      </div>

      <div class="form-group">
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10 text-right">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="file_form.js" type="text/javascript"></script>
