<div class="page-header">
  <h1>Your Applications</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <td>ID</td>
      <td>Machine</td>
      <td>Description</td>
      <td>Status</td>
      <td collspand="3"></td>
    </tr>
  </thead>

  <tbody>
    <% @show_machines.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.name %></td>
        <td><%= p.description %></td>
        <td><% if p.status == 0 %>
            offline
          <% else %>
            online
          <% end %>
        </td>
        <td><a href="/share/<%= p.id %>">[share]</a>
        <a href="/export/<%= p.id %>">[export]</a>
        <a href="/<%= p.id %>/destroy">[destroy]</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
